.queroDoar {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    h3 {
        color: black;
        display: flex;
        justify-content: center;
    }
}
.formulario {
    border: solid #005695;
    border-radius: 20px;
    margin-top: 1%;
    width: 35%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.tituloFormulario {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    h3 {
        color: #005695;
        font-size: 24px;
        font-weight: 400;
    }
}
.forms {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .inputsFormulario {
        border: solid #005695 2px;
        border-radius: 15px;
        width: 90%;
        height: 4vh; 
        font-size: 15px;
        padding-left: 5%;
        font-size: 15px;
        font-weight: 500;
    }
    input::placeholder {
        color: black;
    }
}
.inputButton {
    background: #005695;
    width: 60%;
    height: 15%;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

@media(max-width: 500px) {
    .queroDoar {
        margin-bottom: 15%;
        h3 {
            width: 80%;
            text-align: center;
        }
    }
    .formulario {
        width: 85%;
    }
    .tituloFormulario {
        
        img {
            width: 45px;
            height: 45px; 
        }
        h3 {
            font-size: 20px;
            font-weight: 500;
        }
    }
    .forms {
        width: 90%;
    }
}


.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.modalContent {
    background: white;
    padding: 50px;
    border-radius: 8px;
    position: relative;
    text-align: center;
    border: solid #005695 5px;

    img {
        height: 50vh;
        width: 20vw;
    }
    p {
        padding-bottom: 3%;
    }
}
.closeBtn {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}



.loaderSection {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .loaderText {
        font-weight: bold;
        font-family: monospace;
        font-size: 25px;
        text-align: center;
    }

    .progressBar {
        width: 100%;
        max-width: 300px;
        height: 8px;
        background: #ddd;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }

    .progressBar::after {
        content: "";
        display: block;
        width: 50%;
        height: 100%;
        background: #005695;
        animation: progressAnimation 1.5s infinite;
    }
    @keyframes progressAnimation {
        0% { width: 0%; }
        100% { width: 100%; }
    }
}