
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Inter";
    text-decoration: none;
}

header {
    background: linear-gradient(to right, #001B2F, #005695);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    div {
        display: flex;
        width: 20%;
        margin-left: 15px;
        
        img {
            width: 58.76px;
            height: 61.21px;
            margin-bottom: 20px;
        }
    
        h1 {
            font-size: 30px;
            display: flex;
            align-items: center;
            padding-left: 10px;
        }

    }

    nav {
        width: 50%;
        font-size: 20px;        

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;             
        }
    }
    input {
        border: solid 2px;
        border-radius: 20px;
        font-size: 15px;
        height: 40px;
        width: 301.74px;
        text-align: center;
        margin-right: 20px;
        background-color: transparent;
    }
    input::placeholder {
        color: white
    }
}