.livrosDoados {
    height: auto; 
    h2 {
        color: black;     
        display: flex;
        justify-content: center;
        margin-top: 1%;
        font-size: 32px;
        font-weight: 700;
    }
}
.listaDeLivros {
    width: 90%;
    height: 80%;
    margin: 2% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    gap: 10px;
}
.livro {
    border: solid #005695 3px;
    border-radius: 20px;
    width: 15vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

    img {
        height: 15vh;
    }
    .infoLivro {
        height: 13vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }
    p {
        color: black;
        font-size: 17px;
        font-weight: 500;
    }
}

.livro:hover {
    border: solid #001B2F;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.modalContent {
    background: white;
    padding: 50px;
    border-radius: 8px;
    position: relative;
    text-align: center;
    border: solid #005695 5px;

    img {
        height: 50vh;
        width: 20vw;
    }
    p {
        padding-bottom: 3%;
    }
}
.closeBtn {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

@media(max-width: 500px) {
    .livrosDoados {
        h2 {
            margin-top: 3%;
            margin-bottom: 8%;
        }
    }
    .listaDeLivros {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
    }
    .livro {
        border: solid #005695 3px;
        border-radius: 20px;
        width: 80%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
    
        img {
            height: 10vh;
        }
    }
    .modalContent {
        padding: 30px;

        img {
            height: 30vh;
            width: 30vw;
        }
    }
}



.loaderSection {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .loaderText {
        font-weight: bold;
        font-family: monospace;
        font-size: 25px;
        text-align: center;
    }

    .progressBar {
        width: 100%;
        max-width: 300px;
        height: 8px;
        background: #ddd;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }

    .progressBar::after {
        content: "";
        display: block;
        width: 50%;
        height: 100%;
        background: #005695;
        animation: progressAnimation 1.5s infinite;
    }
    @keyframes progressAnimation {
        0% { width: 0%; }
        100% { width: 100%; }
    }
}




// .loader {
//     display: flex;
//     justify-content: center;
//     width: 90vw;
// }

// .loader .dot {
//     height: 15px;
//     width: 15px;
//     border-radius: 50%;
//     border: 2px solid #e8e8e8;
//     background: #005695;
//     animation: jump 0.8s ease-in-out infinite alternate;
// }

// @keyframes jump {
//     100% {
//         background: #001B2F;
//         transform: translateZ(-3rem) scale(1.9);
//     }
// }

// .loader .dot:nth-child(1) {
//     animation-delay: 0.1s;
// }

// .loader .dot:nth-child(2) {
//     animation-delay: 0.2s;
// }

// .loader .dot:nth-child(3) {
//     animation-delay: 0.3s;
// }

// .loader .dot:nth-child(4) {
//     animation-delay: 0.4s;
// }

// .loader .dot:nth-child(5) {
//     animation-delay: 0.5s;
// }